.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: montserrat;
}
.container{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px ;
}
.topSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}